<div class="card text-center">
<div class="card-body">
<h5 class="card-title">Agradecemos pela escolha</h5>
<p class="card-text">Site desenvolvido por Nathan Silva, Matheus Henrique, Lucas Nunes e Erick Junior</p>
</div>
<div class="card-footer text-muted"> ©2023 Copyright: Etec de Cotia
</div>